<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DeviceControl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DF31D988208DDF7100A5A6BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF31D99C208DDF7200A5A6BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF31D9A7208DDF7200A5A6BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
